.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  text-align: center;
  margin:5px
}

ul {
  flex:2;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  margin: 10px;
  text-decoration: none;
}