body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px;
  padding: 8px
}

.title {
  background: #e3f4ff;
  font-size: 20px;
  margin: 8px;
  padding: 4px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 6px;
}

.button-container {
  margin: 8px;
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin:  auto;
  padding: 8px 24px;
}